<layout name="layout"/>
<div class="admin-content container" style="min-height: 500px">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="starter-template">
                        <table class="am-table am-table-striped am-table-hover table-main table-bordered">
                            <thead>
                            <tr>
                                <th class="table-type" bgcolor="#ccc">人员</th>

                                <th class="table-type" bgcolor="#ccc">设备</th>
                                <th class="table-title" bgcolor="#ccc">应还时间</th>
                                <th class="table-title" bgcolor="#ccc">记录时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            <volist name='data' id='st' empty="没有数据">
                                <tr>
                                    <td><{$st.borrower|getZTUserName=###}></td>
                                    <td>
                                        <{$st.device|getName='tp_device',###,'brand'}>-
                                        <{$st.device|getName='tp_device',###,'ts'}>
                                        (<{$st.device|getName='tp_device',###,'sys_version'}>)
                                    </td>

                                    <td><{$st.end_time}></td>
                                    <td><{$st.ctime|date='Y-m-d H:i:s',###}></td>
                                </tr>
                            </volist>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-info">
                <div class="panel-heading"><h3 class="panel-title">逾期归还</h3></div>
                <ul class="list-group">
                    <volist name='user' id='vo' empty="没有数据">
                        <switch name="vo">
                            <case value="$borrower">
                                <li class="list-group-item list-group-item-warning">
                            </case>
                            <default/>
                            <li class="list-group-item ">
                        </switch>
                        <a href="__URL__/yuqi/borrower/<{$vo}>"><{$vo|getZTUserName=###}></a>
                        <span class="badge"><{$vo|countId='tp_device_overdue','borrower',###}></span>
                        </li>
                    </volist>
                </ul>
            </div>
        </div>
    </div>
</div>