<layout name="layout"/>
<div class="admin-content" style="min-height: 500px">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Api开发管理</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a data-toggle="modal" href="#tianjProject">新增</a></li>
                        </ul>
                        <form action="__URL__/index" method="post" class="navbar-form navbar-right">
                            <div class="form-group">
                                <input type="text" class="form-control" name="search" value="<{$search}>"
                                       placeholder="项目名称、版本号">
                            </div>
                            <button type="submit" class="btn btn-default">查询</button>
                        </form>

                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered table-hover table-condensed ">
                <tr>
                    <th width=45% align="left" bgcolor="#ccc">项目名称</th>
                    <th width=10% align="center" bgcolor="#ccc">版本号</th>
                    <th width=10% align="center" bgcolor="#ccc">类型</th>
                    <th width=15% align="center" bgcolor="#ccc">最后修改时间</th>
                    <th width=15% align="center" bgcolor="#ccc">操作</th>
                </tr>
                <volist name='data' id='st'>
                    <tr>
                        <td><a href="__URL__/inside/id/<{$st.projectid}>"><{$st.projectname}></a></td>
                        <td><a href="__URL__/inside/id/<{$st.projectid}>">V <{$st.projectversion}></a></td>
                        <td>
                            <a href="__URL__/inside/id/<{$st.projectid}>">
                                <eq name="st.projecttype" value="0">Web</eq>
                                <eq name="st.projecttype" value="1"> App</eq>
                                <eq name="st.projecttype" value="2">Pc</eq>
                                <eq name="st.projecttype" value="3">物联网</eq>
                                <eq name="st.projecttype" value="4">其他</eq>
                            </a>
                        </td>
                        <td><a href="__URL__/inside/id/<{$st.projectid}>"><{$st.projectupdatetime}></a></td>
                        <td>
                            <a data-toggle="modal" href="#xiugaiProject" id="<{$st.projectid}>" onclick="mod(this.id)">修改</a>
                            <a href="__URL__/realdel/id/<{$st.projectid}>/table/project"
                               onclick="return confirm('你确定要删除：<{$st.projectname}>吗？')">删除</a>
                        </td>
                    </tr>
                </volist>
            </table>
        </div>
    </div>
</div>

<script>
    //修改项目JS
    function mod(id) {
        $.ajax({
            type: "GET",
            url: "__URL__/set",
            data: {id: id},
            dataType: "json",
            success: function (ss) {
                $("#projectID").val(ss.data.projectid);
                $("#xgprojectName").val(ss.data.projectname);
                $("#xgprojectVersion").val(ss.data.projectversion);
                $("#xgprojectType").html(ss.projectType);
            }
        })
    }
</script>


<!-- 添加-模态框 -->
<div class="modal fade " id="tianjProject" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">项目-添加</h4>
            </div>
            <div class="modal-body">
                <form action="__URL__/insert" method="post" class="form-horizontal" role="form">
                    <input type="hidden" name="table" value="project"/>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">项目名称:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="projectName" name="projectName" value=""
                                   placehoder="项目名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">版本:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="projectVersion" name="projectVersion" value=""
                                   placeholder="版本">
                        </div>
                        <label class="col-sm-2 control-label">类型:</label>
                        <div class="col-sm-4" id="projectType"><{$projectType}></div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" class="btn btn-primary">提交</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- 添加-模态框 -->
<div class="modal fade " id="xiugaiProject" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel1">项目-修改</h4>
            </div>
            <div class="modal-body">
                <form action="__URL__/update" method="post" class="form-horizontal" role="form">
                    <input type="hidden" name="table" value="project"/>
                    <input type="hidden" id="projectID" name="projectID" value=""/>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">项目名称:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="xgprojectName" name="projectName" value=""
                                   placehoder="项目名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">版本:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="xgprojectVersion" name="projectVersion" value=""
                                   placeholder="版本">
                        </div>
                        <label class="col-sm-2 control-label">类型:</label>
                        <div class="col-sm-4" id="xgprojectType"></div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" class="btn btn-primary">提交</button>
                </form>
            </div>
        </div>
    </div>
</div>