<layout name="layout"/>
<div class="admin-content" style="min-height: 500px">
    <div class="row">
        <div class="col-md-10">
            <div class="container">
                <table class="table table-bordered">
                    <tr>
                        <td><h1><{$arr.projectname}></h1>
                            <small>暂无项目说明信息</small>
                        </td>
                    </tr>
                </table>

                <table class="table table-bordered">
                    <tr>
                        <td width=25%><h2>基本版本</h2>
                            <small>产品类别</small>
                        </td>
                        <td width=25%>
                            <h2>
                                <eq name="arr.projecttype" value="0">Web</eq>
                                <eq name="arr.projecttype" value="1"> App</eq>
                                <eq name="arr.projecttype" value="2">Pc</eq>
                                <eq name="arr.projecttype" value="3">物联网</eq>
                                <eq name="arr.projecttype" value="4">其他</eq>
                            </h2>
                            <small>项目类型</small>
                        </td>
                        <td width=25%><h2>V <{$arr.projectversion}></h2>
                            <small>版本号</small>
                        </td>
                        <td width=25%><h2><{$arr.projectupdatetime}></h2>
                            <small>最后更新时间</small>
                        </td>
                    </tr>
                </table>

                <table class="table table-bordered">
                    <tr>
                        <td width=25%><h2>2 个接口</h2>
                            <small>接口总数</small>
                        </td>
                        <td width=25%><h2>0 条状态码</h2>
                            <small>状态码总数</small>
                        </td>
                        <td width=25%><h2>1 人</h2>
                            <small>项目组成员</small>
                        </td>
                        <td width=25%><h2>1 条动态</h2>
                            <small>24小时内项目动态</small>
                        </td>
                    </tr>
                </table>
                <h5>特色功能</h5>
                <table class="table table-bordered">
                    <tr>
                        <td width=25%>
                            <h2>自动化测试</h2>
                            <small>自由设置接口自动化顺序及关联</small>
                        </td>
                        <td width=25%>
                            <h2>API网关</h2>
                            <small>暂缓开通</small>
                        </td>
                        <td width=25%>
                            <h2>API监控</h2>
                            <small>暂缓开通</small>
                        </td>
                        <td width=25%>
                            <h2>环境管理</h2>
                            <small>测试环境管理</small>
                        </td>


                    </tr>
                </table>

                <h5>其他功能</h5>
                <table class="table table-bordered">
                    <tr>
                        <td width=25%>
                            <h2>导出项目</h2>
                            <small>导出项目数据</small>
                        </td>
                        <td width=25%>
                            <h2>备份项目</h2>
                            <small>备份项目至eoLinker线上账号</small>
                        </td>
                        <td width=25%>
                            <h2>项目文档</h2>
                            <small>暂缓开通</small>
                        </td>
                        <td width=25%>

                        </td>
                    </tr>
                </table>


            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>