<layout name="layout"/>
<div class="admin-content container" style="min-height: 500px">

    <div class="panel panel-default">

        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">迭代-需求&任务</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">
                                项目：<{$Think.session.project|getName='project',###,'pname'}>
                                <span class="am-icon-caret-down"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <volist name='project' id='pro'>
                                    <li><a href="__URL__/assigned/type/assigned/project/<{$pro.key}>"><{$pro.value}></a>
                                    </li>
                                </volist>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <form action="__URL__/assigned " method="post" class="navbar-form navbar-left" role="search">
                            <div class="form-group input-group">
                                <input type="text" class="form-control" name="search" value="<{$search}>"
                                       placeholder="名称、关键字">
                                <input type="hidden" class="form-control" name="project"
                                       value="<{$Think.session.project}>">
                                <input type="hidden" class="form-control" name="type"
                                       value="<{$Think.session.type.index}>">
                                <span class="input-group-btn">
                                         <button type="submit" class="btn btn-default">
                                             <span class="glyphicon glyphicon-search"></span>
                                         </button>
                                    </span>
                            </div>
                        </form>
                    </ul>
                </div>
            </div>
        </nav>

        <ul class="nav nav-pills" role="tablist">
            <li role="presentation">
                <a href="__URL__/index/project/<{$Think.session.project}>">进行中</a>
            </li>
            <li role="presentation" class="active">
                <a href="__URL__/assigned/type/assigned/project/<{$Think.session.project}>">待分派</a>
            </li>
        </ul>

        <volist name='data' id='da' empty="没有数据">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <{$Think.session.project|getName='project',###,'pkey'}>-<{$da.issuenum}>:
                    【<{$da.issuetype|getName='issuetype',###,'pname'}>】<{$da.summary}>
                    <span class="badge pull-right">
                            <{$da.issuestatus|getName='issuestatus',###,'pname'}>
                        </span>
                </div>
                <div class="panel-body">
                    <div class="well well-sm">
                        <empty name="da.description">
                            暂无描述
                            <else/>
                            <{$da.description}>
                        </empty>
                    </div>
                    <{$da.id|drawInfo=###}>
                </div>
            </div>
        </volist>

    </div>
</div>