<layout name="layout"/>
<div class="admin-content container" style="min-height: 500px">

    <div class="panel panel-default">

            <nav class="navbar navbar-inverse navbar-static-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">迭代-需求&任务</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false">
                                    项目：<{$Think.session.pname}>
                                    <span class="am-icon-caret-down"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <volist name='project' id='pro'>
                                        <li><a href="__URL__/index/project/<{$pro.key}>"><{$pro.value}></a></li>
                                    </volist>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false">
                                    <switch name="Think.session.type.index">
                                        <case value="done">已完成</case>
                                        <case value="">进行中</case>
                                    </switch>

                                    <span class="am-icon-caret-down"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="__URL__/index/project/<{$Think.session.project}>">进行中</a></li>
                                    <li><a href="__URL__/index/type/done/project/<{$Think.session.project}>">已完成</a>
                                    </li>
                                </ul>
                            </li>


                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <form action="__URL__/index " method="post" class="navbar-form navbar-left" role="search">
                                <div class="form-group input-group">
                                    <input type="text" class="form-control" name="search" value="<{$search}>"
                                           placeholder="名称、关键字">
                                    <input type="hidden" class="form-control" name="project"
                                           value="<{$Think.session.project}>">
                                    <input type="hidden" class="form-control" name="type"
                                           value="<{$Think.session.type.index}>">
                                    <span class="input-group-btn">
                                         <button type="submit" class="btn btn-default"><span
                                                 class="glyphicon glyphicon-search"></span></button>
                                    </span>
                                </div>
                            </form>
                        </ul>
                    </div>
                </div>
            </nav>

        <ul class="nav nav-pills" role="tablist">
            <li role="presentation" class="active">
                <a href="__URL__/index/project/<{$Think.session.project}>">
                    <switch name="Think.session.type.index">
                        <case value="done">已完成</case>
                        <case value="">进行中</case>
                    </switch>
                </a>
            </li>
            <if condition="$_SESSION['project'] eq 10006 ">
                <li role="presentation">
                    <a href="__URL__/pending">任务分派</a>
                </li>
                <li role="presentation">
                    <a href="__URL__/started/type/assigned/project/<{$Think.session.project}>">未开始</a>
                </li>
                <else/>
                <li role="presentation">
                    <a href="__URL__/assigned/type/assigned/project/<{$Think.session.project}>">待处理</a>
                </li>
            </if>
        </ul>

        <table class="am-table am-table-striped am-table-hover table-main table-bordered">
                <thead>
                <tr>
                    <th class="table-type" bgcolor="#ccc">KEY</th>
                    <th class="table-type" bgcolor="#ccc">报告人</th>
                    <th class="table-title" bgcolor="#ccc">需求&任务</th>
                    <th class="table-type" bgcolor="#ccc">经办人</th>
                    <th class="table-date" bgcolor="#ccc">上线时间</th>
                </tr>
                </thead>
                <tbody>
                <volist name='data' id='da' empty="没有数据">
                    <tr>
                        <td><{$Think.session.pkey}>-<{$da.issuenum}></td>
                        <td><{$da.reporter|getJiraName=###}></td>
                        <td>
                            【<{$da.issuetype|getName='issuetype',###,'pname'}>】
                            <{$da.summary}>
                            <span class="badge pull-right"><{$da.issuestatus|getName='issuestatus',###,'pname'}></span>
                        </td>
                        <td><{$da.assignee|getJiraName=###}></td>
                        <td><{$da.resolutiondate}></td>
                    </tr>
                </volist>
                </tbody>
            </table>

    </div>

</div>