<layout name="layout"/>
<!-- content start -->
<div class="admin-content container" style="min-height: 500px">
    <ul class="nav nav-pills" role="tablist">
        <li role="presentation">
            <a href="__URL__/index">进行中
                <span class="badge"><{$count}></span>
            </a>
        </li>
        <li role="presentation">
            <a href="__URL__/mine">我负责
                <span class="badge"><{$mine}></span>
            </a>
        </li>
        <li role="presentation">
            <a href="__URL__/history">历史迭代</a>
        </li>
        <li role="presentation" class="active">
            <a href="__URL__/assigne">待分派迭代
                <span class="badge"><{$Think.session.account|countDraw=###}></span>
            </a>
        </li>
    </ul>


    <div class="panel am-panel-default">

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
            <volist name='data' id='st' empty="暂时没有待分派的迭代">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading<{$st.id}>">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#<{$st.id}>" aria-expanded="false"
                               aria-controls="<{$st.id}>">
                                <small><{$st.name}></small>
                            </a>
                            <eq name="st.qd" value="admin">
                                <a href="__URL__/draw/project/<{$st.id}>/name/<{$Think.session.account}>"
                                   class="pull-right">抽签</a>
                                <else/>
                                <span class="pull-right">
                                    <{$st.qd|getZTUserName=###}>
                                    <eq name="st.qd" value="$Think.session.account">
                                        <a href="__URL__/renounce/project/<{$st.id}>/name/<{$Think.session.account}>">放弃</a>
                                    </eq>
                                </span>

                            </eq>

                        </h4>
                    </div>
                    <div id="<{$st.id}>" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="heading<{$st.id}>">
                        <div class="panel-body">
                            <div class="well">
                                抽签结果：
                                <{$st.id|getDrawInfo=###}>
                            </div>
                            <div class="well">
                                项目描述：<{$st.desc}>
                            </div>
                        </div>
                    </div>
                </div>
            </volist>
        </div>
    </div>

</div>