<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>鑫泰-接口测试平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="__CSS__/Amaze/flat.css">
    <link rel="stylesheet" href="__CSS__/Amaze/amazeui.css"/>
    <link rel="stylesheet" href="__CSS__/Amaze/admin.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->

<header class="am-topbar admin-header">
    <div class="am-topbar-brand"><strong>鑫泰</strong>
        <small>接口测试平台</small>
    </div>
    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
            data-am-collapse="{target: '#topbar-collapse'}">
        <span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span>
    </button>


    <div class="am-collapse am-topbar-collapse" id="topbar-collapse" >
        <ul class="nav navbar-nav">
            <li class="active hide" id="hide" onclick="hide()"><a href="#">隐藏菜单 <span
                    class="sr-only">(current)</span></a></li>
            <li class="active" id="show" onclick="show()"><a href="#">显示菜单 <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
            <li><a href="__ROOT__/index.php/Report" target=_blank><span class="glyphicon glyphicon-link"></span> QC质量平台</a>
            </li>
            <eq name="Think.session.isLogin" value="Record">
                <li><a href="#"><span class="am-icon-user"> <{$_SESSION['realname']}></span></a></li>
            </eq>
            <li><a href="javascript:;" id="admin-fullscreen"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>
        </ul>
    </div>

</header>
<div class="am-cf admin-main  ">
    <!-- sidebar start -->
    <div class="admin-sidebar hide">
        <ul class="am-list admin-sidebar-list ">
            <eq name="Think.session.isLogin" value="Record">
                <li><a href="__APP__/Linker/Project"><span class="glyphicon glyphicon-book"> API开发管理</span></a></li>
                <else/>
                <li><a href="__APP__/Linker/Index"><span class="glyphicon glyphicon-book"> 前台接口</span></a></li>
            </eq>
        </ul>
        <div class="am-panel am-panel-default admin-sidebar-panel">
            <div class="am-panel-bd">
                <p>接口测试平台</p>
            </div>
        </div>
    </div>

