<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>鑫泰-产品质量平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="__CSS__/Amaze/flat.css">
    <link rel="stylesheet" href="__CSS__/Amaze/amazeui.css"/>
    <link rel="stylesheet" href="__CSS__/Amaze/admin.css">


</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->

<header class="am-topbar admin-header">
    <div class="am-topbar-brand"><strong>鑫泰</strong>
        <small>产品质量平台</small>
    </div>
    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
            data-am-collapse="{target: '#topbar-collapse'}">
        <span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span>
    </button>
    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
        <ul class="nav navbar-nav">
            <li class="active hide" id="hide" onclick="hide()"><a href="#">隐藏菜单 <span
                    class="sr-only">(current)</span></a></li>
            <li class="active" id="show" onclick="show()"><a href="#">显示菜单 <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
            <li><a href="http://qc.zhidaoauto.com/zentao" target=_blank><span class="glyphicon glyphicon-link"></span>
                访问禅道</a></li>
            <li><a href="http://qc.zhidaoauto.com/eoLinker" target=_blank><span class="glyphicon glyphicon-link"></span>eoLinke3.5</a>
            </li>
            <li><a href="__APP__/Device/Index/index" target=_blank><span class="glyphicon glyphicon-link"></span> 图书&设备</a>
            </li>
            <empty name="_SESSION['isCLogin']">
                <li><a href="__APP__/Record" target=_blank><span class="glyphicon glyphicon-log-in"></span> 记录平台</a>
                </li>
                <else/>
                <li><span class="am-icon-user"></span> <{$_SESSION['realname']}> <span
                        class="am-icon-caret-down"></span></li>
            </empty>
            <li><a href="javascript:;" id="admin-fullscreen"><span class="am-icon-arrows-alt"></span> <span
                    class="admin-fullText">开启全屏</span></a></li>
        </ul>
    </div>
</header>
<div class="am-cf admin-main">
    <!-- sidebar start -->
    <div class="admin-sidebar hide">
        <ul class="am-list admin-sidebar-list">
            <li><a href="__APP__/<{$Think.config.PRODUCT}>/Index"><span
                    class="glyphicon glyphicon-home"> 测试迭代</span></a></li>
            <li><a href="__APP__/<{$Think.config.PRODUCT}>/Risk"><span
                    class="glyphicon glyphicon-glass"> 风险及总结</span></a></li>
            <li><a href="__APP__/<{$Think.config.PRODUCT}>/Func"><span
                    class="glyphicon glyphicon-globe"> 功能地图</span></a></li>
            <li><a href="__APP__/<{$Think.config.PRODUCT}>/Hosts"><span
                    class="am-icon-file">&nbsp; &nbsp;  Hosts配置</span></a></li>
            <li><a href="__APP__/<{$Think.config.PRODUCT}>/Api"><span
                    class="glyphicon glyphicon-compressed"> 待测接口</span></a></li>
            <li><a href="__APP__/<{$Think.config.PRODUCT}>/Score"><span
                    class="glyphicon glyphicon-credit-card"> 考核排行</span></a></li>
            <li><a href="__APP__/<{$Think.config.PRODUCT}>/Bug/unconfirmed"><span class="glyphicon glyphicon-bell"> 待处理BUG</span></a>
            </li>
            <li><a href="__APP__/<{$Think.config.PRODUCT}>/Task/person"><span
                    class="glyphicon glyphicon-user"> 测试投入</span></a></li>
            <li><a href="__APP__/<{$Think.config.PRODUCT}>/Overtime"><span class="glyphicon glyphicon-time"> 加班调休</span></a>
            </li>
            <li><a href="__APP__/<{$Think.config.PRODUCT}>/Standard/"><span
                    class="am-icon-file"> &nbsp; &nbsp;测试规范</span></a></li>
        </ul>
        <div class="am-panel am-panel-default admin-sidebar-panel">
            <div class="am-panel-bd">
                <p><span class="am-icon-bookmark"></span> 习惯</p>
                <p>
                    好的习惯也不是一蹴而就的，需要的是反复的积累。<br>
                    --果农
                </p>
            </div>
        </div>
    </div>