<layout name="layout"/>
<!-- content start -->
<div class="admin-content container" style="min-height: 500px">
    <ul class="nav nav-pills" role="tablist">
        <li role="presentation" class="active">
            <a href="__URL__/index/">考勤统计</a>
        </li>
        <li role="presentation">
            <a href="__URL__/mine">我的考勤</a>
        </li>
    </ul>
    <div class="panel panel-default">
        <table class="table table-striped table-bordered table-hover table-condensed ">
                        <tr>
                            <th width=25% align="center" bgcolor="#ccc">姓名</th>
                            <th width=25% align="center" bgcolor="#ccc">加班工时</th>
                            <th width=25% align="center" bgcolor="#ccc">可调休工时</th>
                            <th width=25% align="center" bgcolor="#ccc">已调休工时</th>
                        </tr>
            <volist name='data' id='st'>
                <tr>
                    <td><a href="__URL__/detailed/user/<{$st}>"><{$st|getJiraName=###}></a></td>
                    <td>
                        <a href="__URL__/xiangq/type/1/user/<{$st}>"><{$st|getJiabHour=###}>小时</a>
                    </td>
                    <td><{$st|getKeyHour=###}>小时</td>
                    <td>
                        <a href="__URL__/xiangq/type/2/user/<{$st}>"><{$st|getTiaoxHour=###}>小时</a>
                    </td>
                </tr>
            </volist>
        </table>
    </div>
</div>