<layout name="layout"/>
<div class="admin-content container" style="min-height: 500px">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation">
            <a href="__URL__/index">未确认BUG <span class="badge"><{$arr.id}></span></a>
        </li>
        <li role="presentation">
            <a href="__URL__/fault">A类BUG<span class="badge"><{$arr.id}></span></a>
        </li>
        <li role="presentation" class="active">
            <a href="__URL__/noclosed">未关闭<span class="badge"><{$data|sizeof=###}></span></a>
        </li>
        <li role="presentation">
            <a href="__URL__/mine">指派给我的<span class="badge"><{$arr.id}></span></a>
        </li>
    </ul>

    <volist name='data' id='st' empty="没有数据">
        <div class="panel panel-default" style="margin-bottom:0px;">
            <div class="panel-heading" role="tab" id="heading<{$st.id}>">
                <small>
                    <a href="http://jira.zhidaohulian.com/browse/<{$Think.session.project|getName='project',###,'pkey'}>-<{$st.issuenum}>"
                       target="_blank">
                        【<{$Think.session.pkey}>-<{$st.issuenum}>】
                    </a>
                    <a data-toggle="collapse" data-parent="#accordion" href="#<{$st.id}>" aria-expanded="true"
                       aria-controls="<{$st.id}>">

                        (<{$st.reporter|getJiraName=###}>)<{$st.summary}>【<{$st.created}>】
                        <span class="badge pull-right"><{$st.assignee|getJiraName=###}></span>
                    </a>
                </small>
            </div>
            <div id="<{$st.id}>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<{$st.id}>">
                <div class="panel-body">
                    <{$st.description}>
                </div>

            </div>
        </div>
    </volist>
</div>